#current-time {
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    font-family: 'Chicle', cursive;
    font-size: 80px;
    color: black;
}
 
#clockCanvas {
    padding-top: 50px;
    border: 5px dotted  black;
    background: url('images/clock.png') no-repeat;
    /*background: url('bcy.png') no-repeat;*/
    /*background: url('blank-face.jpg') no-repeat;*/

    background-position: center;
    background-size: 490px;
    font font-weight: italic;
  }
body{
	background: url('imag1.jpg') no-repeat;
    background-size: cover;
    image-rendering:auto;
    position: center;
}
.container{
    padding: 100px;
}
/*#tzSelect{
    padding-top: 100px;
}*/